/* CSS BY Haley Jay */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

/* ROOT VARIABLES */
:root {
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;

    --heading-font: 'Kavoon', cursive;
    --body-font: 'Inter', sans-serif;
}



/* GLOBAL STYLES (mobile first/small) */
body {
    font-family: var(--body-font);
    max-width: 450px;
    margin: 0 auto;
    color: var(--dark-gray);
    background-color: var(--lavender);
}

main {
    max-width: 450px;
    margin: 0 auto;
    background-color: var(--purple);
    padding: 1.5em 1em;
}

h1,
h2 {
    font-family: var(--heading-font);
}

h1 {
    font-size: 3em;
    color: var(--white);
    text-align: center;
}

nav h2 {
    font-size: 1.5em;
    text-align: center;
}

h2 {
    font-size: 2em;
    color: var(--yellow);
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.5em;
    color: var(--purple);
}

h4 {
    font-size: 1.15em;
}


/* HEAD AND NAV */
header {
    text-align: center;
    padding: 1.5rem 1rem;
    color: var(--white);
}

nav {
    background-color: var(--yellow);
    padding: 1rem;
}

nav ul li {
    margin-bottom: 0.5rem;
}

nav ul li a {
    display: block;
    background-color: var(--white);
    color: var(--purple);
    text-decoration: none;
    font-weight: bold;
    padding: 0.75rem;
    border-radius: 6px;
    text-align: center;
}


/* SECTIONS */

section {
    padding: 1rem;
}

article {
    background-color: var(--white);
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
}

article img {
    width: 48px;
    margin-bottom: 0.5rem;
}

#why {
    background-color: var(--pink);
}

#why article {
    text-align: center;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--white);
    margin-bottom: 1rem;
}

th {
    background-color: var(--yellow);
    padding: 0.5rem;
}

td {
    padding: 0.5rem;
    text-align: center;
    border-top: 1px solid #dddddd;
}


footer {
  margin-top: 3em;
  padding: 1.5em;
  text-align: center;
  font-size: 0.9em;
  color: var(--dark-gray);
  border-top: 2px solid var(--lavender);
}

footer p {
  margin-bottom: 0.5em;
}
