@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --teal: #4CA7C0;
  --purple: #484FB7;
  --lavender: #6B8FE7;
  --yellow: #E9BB57;
  --pink: #D9526F;
  --dark-gray: #1E1E1E;
  --white: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  max-width: 450px;
  margin: 0 auto;
  color: var(--dark-gray);
  background-color: var(--white);
}

